* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f5f5f5;
}

/* 모바일 네비게이션 바 */
.mobile-nav {
  position: sticky;
  top: 0;
  height: 56px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 18px;
  font-weight: 650;
}

/* 경고 메시지 */
.alert {
  text-align: center;
  display: none;
}

.alert_massage {
  font-size: 26px;
  font-weight: 800;
  color: red;
}

.notice_msg {
  margin-top: 6px;
  font-weight: 500;
}

.one_m {
  color: red;
}

/* ✅ 카드 스타일 */
.card {
  margin: 16px;
  padding: 20px;
  background: white;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

/* 위치 */
.location {
  font-size: 16px;
  color: #555;
}

.location_name {
  font-weight: 600;
  color: #111;
}

/* 긴급 버튼 영역 */
.emergency {
  display: flex;
  justify-content: center;
}

/* 바깥 링 */
.emergency-wrap {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow:
    0 0 0 6px #eee,
    0 0 20px rgba(255, 0, 0, 0.4);
}

/* 안쪽 버튼 */
.emergency-btn {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: radial-gradient(circle at top, #ff6b6b, #e60000);
  color: white;
  font-size: 16px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  user-select: none;
}

.emergency-btn:active {
  transform: scale(0.95);
}

.guardian{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.guardian_name{
  font-size: 12px;
}

.card2 {
  margin: 16px;
  padding: 20px;
  background: white;
  border-radius: 16px;

  display: flex;
  flex-direction: column;

  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.detailTitle{
  font-weight: 600;
}

.danger{
  font-size: 25px;
  font-weight:700;
  color: red;
  display: none;
}

.safe{
  font-size: 25px;
  font-weight: 700;
  color: rgb(26, 229, 3);
}

.status{
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusCard{
  flex: 1;
  margin: 16px;
  padding: 20px;
  background-color: white;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}